
body {
	margin: 0;
}


header {
	display: block;
	background-color: #CCCCCC;
	overflow: auto;
}

.navbar {
	list-style-type: none;
	background-color: #bebebe;
	padding: 0;
	min-height: 15px;
	margin: 0;
	position: sticky;
	top: 0;
}

.navbar li {
	display: inline-block;
	padding: 3px;
	margin: 0;
	float; left;
	cursor: pointer;
}

.dropdown-content {
	display: none;
	position: absolute;
	box-shadow: 3px 3px 7px rgba(0,0,0,0.2);
	z-index: 1;
}

.dropdown-btn {
	cursor: default;
}
.dropdown-content a {
	display: block;
	 background-color: #DeDeDe;
}

.dropdown:hover .dropdown-content {
	display: block;
}

.dropdown-content a:hover{
	 background-color: #cecece;
}


ul li:hover {
	background-color: #AEAEAE;
}

a:link, a:visited,  a:hover{
	text-decoration: none;
	color: black;
}

h3 {
	text-align: center ;
}

article {
	border-radius: 3px;
	background-color: #EDEDED;
	box-shadow: 1px 1px 4px #000000;
	overflow: auto;
	padding: 3px;
	margin: auto 5%;
}

img {
	float: left;
	width: 200px;
	height: 200px;
	margin: 5px;
	border-radius: 3px;
}

h1 {
	text-align: center;
	background-color: #CCCCCC;
}

.oddimg {
	float: right;
}

.oddarticle {
	background-color: #EDEEED;
}
