
body {
	margin: 0;
	overflow: visible;
    font-family: 'Libre Baskerville', 'Lora', 'Calisto MT', 'Bookman Old Style', Bookman, 'Goudy Old Style', Garamond, 'Hoefler Text', 'Bitstream Charter', Georgia, serif;
}


header h1 {
	text-align: center;
	background-color: #CCCCCC;
	margin: 0;
	height: 10vh;
}

header {
	overflow: visible;
}

.navbar {
	list-style-type: none;
	background-color: #922610;
	margin: 0;
	position: sticky;
	top: 0;
	height: 29px;
}
.navbar a {
	display: inline;
	color: white;
	background-color: #922610;
	padding: 5px 8px;
	float: left;
}
.navbar a:hover {
	background-color: #821600;
    
}

.navbar a:link {
    text-decoration: none;
}
.navbar a:visited {
    text-decoration: none;
}
.navbar a:link {
    text-decoration: none;
}
.statblock {
    color: #922610;
    background-color: #F3E4C2;
    border-radius: 9px;
    margin: 5%;
    padding: 10px;
    overflow: auto;
    max-width: 500px;
    float: left;
    box-shadow: 1px 1px 6px rgba(0,0,0,0.4);
}

.statblock h2, .statblock h3 {
    margin: auto auto auto 0px;
}

.statblock p {
    margin: 3px auto;
}

.stat {
    text-align: center;
    float: left;
    width: 16%;
    margin-bottom: 5px;
}

hr {
	color: #922610;
}

.abilities p {
	color: black;
}
.abilities hr {
	height: 1px;
	background-color: #922610;
	border: 0;
}
